<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'compay/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!--<link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon"/>-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{% block mainmenu %}
		<div class="menu">
		{% if request.user.is_authenticated %}
			<a href="{% url 'home' %}" class="menu_link">{{ user.username }}</a>
			<a href="{% url 'home' %}" class="menu_link">Главная страница</a>
			<a href="{% url 'logout' %}" class="menu_link">Выйти</a>
		{% else %}
			<a href="{% url 'register' %}" class="menu_link">Регистрация</a>
			<a href="{% url 'login' %}" class="menu_link">Войти</a>
		{% endif %}
		</div>
{% endblock mainmenu %}

{% block msg %}
	<div class="alert">
	{% for msg in msgs %}

			<p>{{ msg.key }}: {{ msg.text }}</p>

	{% endfor %}
	</div>
{% endblock msg %}


<div class="content">
{% block content %}
{% endblock %}
</div>


</body>
</html>