{% extends 'compay/base.html' %}

{% block content %}
<div class="main">
    <div class="title">
        {{ title }}<a  href="{% url 'app' ap.id %}" class="links">{{ ap }}</a>
    </div>
	<h3 class="obj"></h3>
    <div class="window">
        <form action="{% url 'config_app' app_selected %} " method='POST'>
            {% csrf_token %}
            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
            {% endfor %}
            <br><br>
            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}