{% extends 'compay/base.html' %}

{% block content %}
<div class="main">
    <div class="title">
        <div>{{ title }}<a  href="{% url 'app' ap.id %}" class="links">{{ ap }}</a></div>
        <div>{{ date }}</div>
    </div>
	<h3 class="obj"></h3>
    <div class="window">
        <form action="{% url 'config_app' app_selected %} " method='POST'>
            {% csrf_token %}
            <table class="tbl1">
                {{ form.as_table }}
            </table>
            <br><br>
            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}