{% extends 'compay/base.html' %}

{% block content %}
<div class="main">

	<div class="title">
		{{ title }}<a href="{% url 'app' ap.id %}" class="links">{{ ap.name }}</a>
	</div>
	<h3 class="obj"></h3>
	<div class="window">
		<div class="form">
			<form action="{% url 'enter_tarifs' app_selected %} " method='POST'>
				{% csrf_token %}
				{% for form in form_list %}
					<p>{{ form }}</p>
				{% endfor %}
				<br><br>
				<button type="submit">Сохранить</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}