{% extends 'compay/base.html' %}

{% block content %}
<div class="main">
	<div class="title">
        <div>{{ title }}<a  href="{% url 'info' item.app_id %}" class="links">{{ item }}</a></div>
        <div>{{ date }}</div>
    </div>

    <div  class="submenu">
        {% for s in submenu %}
                <a href="{% url s.url_name item.app_id item.pk %}" class="submenu_link">{{s.title}}</a> |
        {% endfor %}
    </div>
	<h3 class="obj"></h3>
    <div class="window">
		<div class="form">
			<form action="{% url 'enter_info' app_selected item.id %} " method='POST'>
				{% csrf_token %}
                <table class="tbl">{{ form.as_table }}</table>
                <br><br>
				<button type="submit" class="btn1">Сохранить</button>
			</form>
        </div>
    </div>
</div>
{% endblock %}