{% extends 'compay/base.html' %}

{% block content %}
<div class="main">

	<div class="title">
		<div>{{ title }}<a href="{% url 'app' ap.id %}" class="links">{{ ap.name }}</a></div>
		<div>{{ date }}</div>
	</div>

	<h3 class="obj">{{ obj }}</h3>

	<div class="window">
		{% if form_list %}
		<div class="form">
			<form action="{% url 'enter_counters' app_selected %} " method='POST'>
				{% csrf_token %}
				<table class="tbl">
					{% for form in form_list %}
						{{ form.as_table }}
					{% endfor %}
				</table>
				<br><br>
				<button type="submit">Сохранить</button>
			</form>
		</div>
		{% endif %}
	</div>
</div>

{% endblock %}