{% extends 'compay/base.html' %}

{% block content %}
<div class="main">
    <div class="title">
        <div class="title_div">{{ title }}</div>
        <div>{{ date }}</div>
    </div>


    <div  class="submenu custom1">
        <a href="{% url 'add_app' %}" class="submenu_link">Добавить объект |</a>
        {% if admin %}
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Изменить</button>
        </form>
        {% else %}
        <div> </div>
        {% endif %}
    </div>


    <h3 class="obj">{{ obj }}</h3>

    <div class="window">
        <div>
            {% for app in apps %}

            <h3><a href="{% url 'app' app.pk %}" class="links">{{ app }}</a>{% if admin %} - ({{ app.belong }}){% endif %}</h3>

            {% endfor %}
        </div>
        <div>
            <br>Суммарно по всем объектам: <br>
            {% for key, value in pay_sum_dict.items %}

                {{ key }} : {{ value }} <br>

            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}