{% extends 'compay/base.html' %}

{% block content %}
<div class="main">
	<div class="title">
        <div>{{ title }}<a  href="{% url 'app' app_selected %}" class="links">{{ ap }}</a></div>
        <div>{{ date }}</div>
    </div>

    <h3 class="obj">{{ obj }}</h3>

    <div class="window">
        <div>
            {% for item in lst %}
                <h3><a href="{% url 'enter_info' item.app_id item.id %}" class="links">{{ item.get_item_name_display }}</a></h3>
            {% endfor %}
        </div>
        <div>
        {% for info in info_list %}
            <h3 class="text c">{{ info }}</h3>
            <h4 class="text c">л/с: {{ info.item_user_number }}</h4>
            <h4 class="text c">{{ info.item_comment }}</h4>
            <br>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}