{% extends 'compay/base.html' %}

{% block content %}
<div class="main">
	<div class="title">
        <div>{{ title }}<a  href="{% url 'app' item.app_id %}" class="links">{{ item }}</a></div>
        <div>{{ date }}</div>
    </div>

    <div  class="submenu">
        {% for s in submenu %}
                <a href="{% url s.url_name item.app_id item.pk %}" class="submenu_link">{{s.title}}</a> |
        {% endfor %}
    </div>

    <h3 class="obj">{{ obj }}</h3>

    <div class="window">

        <div>
        {% for counter in counter_list %}
            <h3 class="text"><a  href="{% url 'counter' app_selected counter.item_id %}" class="links">{{ counter }}:</a>
                {{ counter.value }}</h3>
            <h5 class="date">{{ counter.created }}</h5>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

