{% extends 'compay/base.html' %}

{% block content %}
<div class="main">
    <div class="title">
        <div>{{ title }}<a  href="{% url 'app' ap.id %}" class="links">{{ ap }} {{ date|date:'F' }}</a></div>
        <div>{{ date }}</div>
    </div>

    <div  class="submenu">
        {% for s in submenu %}
                <a href="{% url s.url_name s.app_selected %}" class="submenu_link">{{s.title}}</a> |
        {% endfor %}
    </div>

    <h3 class="obj">{{ obj }}</h3>

    <div class="window">

        <table class="tbl c1">
        {% if pay_list %}
            <thead>
            <tr>
                <td class="c1"><h3>Расчет по виду оплаты</h3></td>
                <td class="c1"><h3>К оплате</h3></td>
                <td class="c1"><h3>Оплачено</h3></td>
                <td class="c1"><h3>Долг/Переплата</h3></td>
            </tr>
            </thead>
        {% endif %}
        {% for pay in pay_list %}
            {% if pay.pk == pay_selected %}
            <tr>
                <th class="c1"><h3 class="text с">{{ pay.item }}:</h3><h3 class="text date">{{ pay.calculation }} / {{ pay.updated }}</h3></th>
                <td class="c1"><h3>{{ pay.topay|floatformat:2 }}</h3></td>
                <td class="c1"><form action="{% url 'pay' ap.pk pay.pk %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}<button type="submit">Сохранить</button></form></td>
                <td class="c1"><h3>{{ pay.debt|floatformat:2  }}</h3></td>
            </tr>
            {% else %}
            <tr>
                <th class="c1"><h3 class="text с"><a href="{% url 'pay' ap.pk pay.pk %}" class="links">{{ pay.item }}</a></h3><h3 class="text date">{{ pay.calculation }} / {{ pay.updated }}</h3></th>
                <td class="c1"><h3>{{ pay.topay|floatformat:2 }}</h3></td>
                <td class="c1"><h3>{{ pay.payed|floatformat:2 }}</h3></td>
                <td class="c1"><h3>{{ pay.debt|floatformat:2 }}</h3></td>
            </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}