{% extends 'compay/base.html' %}

{% block content %}
<div class="main">
	<div class="title">
        <div>{{ title }}<a  href="{% url 'pay' app_selected %}" class="links">{{ ap }}</a></div>
        <div>{{ date }}</div>
    </div>



    <div class="window">
        <div>
            {% for item in lst %}
                <h3><a href="{% url 'pay_history' item.app_id item.id %}" class="links">{{ item.get_item_name_display }}</a></h3>
            {% endfor %}
        </div>
        <div>
            <h3 class="obj">{{ obj }}</h3>
            {% for pay in pay_list %}
                <h3 class="text c">{{ pay.item }}</h3>
                <h4 class="text c">Месяц: {{ pay.get_month_display }}</h4>
                <h4 class="text c">К оплате: {{ pay.topay }}</h4>
                <h4 class="text c">Оплачено: {{ pay.payed }}</h4>
                <h4 class="text c">Долг: {{ pay.debt }}</h4>
                <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}