{% extends 'compay/base.html' %}

{% block content %}
<div class="main">
    <div class="title">
        <div>{{ title }}<a  href="{% url 'app' ap.id %}" class="links">{{ ap }}</a></div>
        <div>{{ date }}</div>
    </div>

    <div  class="submenu">
        {% for s in submenu %}
                <a href="#" class="submenu_link">{{s.title}}</a> |
        {% endfor %}
    </div>

    <h3 class="obj">{{ obj }}</h3>

    <div class="window">

        <table>
        {% for tarif in tarif_list %}
        <tr>
            <td class="cell1"><h3 class="text"><a  href="{% url 'tarif' ap.id tarif.item_id %}" class="links">{{ tarif }}:</a></h3>
            <h5 class="date">{{ tarif.created }}</h5></td>
            <td class="cell2"><h3>{{ tarif.value }}</h3></td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}