{% extends 'compay/base.html' %}

{% block content %}
<div class="main">
    <div class="title">
        {{ title }}<a  href="{% url 'app' ap.id %}" class="links">{{ ap }}</a>
    </div>

    <div  class="submenu">
        {% for s in submenu %}
                <a href="#" class="submenu_link">{{s.title}}</a> |
        {% endfor %}
    </div>

    <h3 class="obj">{{ obj }}</h3>

    <div class="window">

        <div>
        {% for tarif in tarif_list %}

            <h3 class="text"><a  href="{% url 'tarif' ap.id tarif.item_id %}" class="links">{{ tarif }}:</a>  {{ tarif.value }}</h3>
            <h5 class="date">{{ tarif.created }}</h5>

        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}